a[href="#"]{
    text-decoration: none;
}

body{
    font-size: 10px;
    background: rgb(149, 194, 215);
}

.thumbnail-image {
    display: block;
    width: 100%;
}

.thumbnail-item {
    display: block;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-list {
    list-style: none;
}

.thumbnail-title {
    background: rgb(100, 125, 150);
    color: rgb(100, 220, 100);
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 0.4em 1em;
}